@font-face {
  font-family: "CooperBTLight";
  src: url("../fonts/CooperBTLight/font.woff2") format("woff2"),
    url("../fonts/CooperBTLight/font.woff") format("woff");
}
@font-face {
  font-family: "NeueHaasUnicaUltraLightItalic";
  src: url("../fonts/NeueHaasUnicaUltraLightItalic/font.woff2") format("woff2"),
    url("../fonts/NeueHaasUnicaUltraLightItalic/font.woff") format("woff");
}
@font-face {
  font-family: "NeueHaasUnicaHeavy";
  src: url("../fonts/NeueHaasUnicaHeavy/font.woff2") format("woff2"),
    url("../fonts/NeueHaasUnicaHeavy/font.woff") format("woff");
}
@font-face {
  font-family: "NeueHaasUnicaLight";
  src: url("../fonts/NeueHaasUnicaLight/font.woff2") format("woff2"),
    url("../fonts/NeueHaasUnicaLight/font.woff") format("woff");
}
@font-face {
  font-family: "NeueHaasUnicaLightItalic";
  src: url("../fonts/NeueHaasUnicaLightItalic/font.woff2") format("woff2"),
    url("../fonts/NeueHaasUnicaLightItalic/font.woff") format("woff");
}
@font-face {
  font-family: "NeueHaasUnicaMediumItalic";
  src: url("../fonts/NeueHaasUnicaMediumItalic/font.woff2") format("woff2"),
    url("../fonts/NeueHaasUnicaMediumItalic/font.woff") format("woff");
}
@font-face {
  font-family: "NeueHaasUnicaBold";
  src: url("../fonts/NeueHaasUnicaBold/font.woff2") format("woff2"),
    url("../fonts/NeueHaasUnicaBold/font.woff") format("woff");
}
@font-face {
  font-family: "NeueHaasUnicaRegular";
  src: url("../fonts/NeueHaasUnicaRegular/font.woff2") format("woff2"),
    url("../fonts/NeueHaasUnicaRegular/font.woff") format("woff");
}
@font-face {
  font-family: "NeueHaasUnicaBoldItalic";
  src: url("../fonts/NeueHaasUnicaBoldItalic/font.woff2") format("woff2"),
    url("../fonts/NeueHaasUnicaBoldItalic/font.woff") format("woff");
}
@font-face {
  font-family: "NeueHaasUnicaThinItalic";
  src: url("../fonts/NeueHaasUnicaThinItalic/font.woff2") format("woff2"),
    url("../fonts/NeueHaasUnicaThinItalic/font.woff") format("woff");
}
@font-face {
  font-family: "NeueHaasUnicaUltraLight";
  src: url("../fonts/NeueHaasUnicaUltraLight/font.woff2") format("woff2"),
    url("../fonts/NeueHaasUnicaUltraLight/font.woff") format("woff");
}
@font-face {
  font-family: "NeueHaasUnicaItalic";
  src: url("../fonts/NeueHaasUnicaItalic/font.woff2") format("woff2"),
    url("../fonts/NeueHaasUnicaItalic/font.woff") format("woff");
}
@font-face {
  font-family: "NeueHaasUnicaExtraBlackItalic";
  src: url("../fonts/NeueHaasUnicaExtraBlackItalic/font.woff2") format("woff2"),
    url("../fonts/NeueHaasUnicaExtraBlackItalic/font.woff") format("woff");
}
@font-face {
  font-family: "NeueHaasUnicaMedium";
  src: url("../fonts/NeueHaasUnicaMedium/font.woff2") format("woff2"),
    url("../fonts/NeueHaasUnicaMedium/font.woff") format("woff");
}
@font-face {
  font-family: "NeueHaasUnicaThin";
  src: url("../fonts/NeueHaasUnicaThin/font.woff2") format("woff2"),
    url("../fonts/NeueHaasUnicaThin/font.woff") format("woff");
}
@font-face {
  font-family: "NeueHaasUnicaBlack";
  src: url("../fonts/NeueHaasUnicaBlack/font.woff2") format("woff2"),
    url("../fonts/NeueHaasUnicaBlack/font.woff") format("woff");
}
@font-face {
  font-family: "NeueHaasUnicaExtraBlack";
  src: url("../fonts/NeueHaasUnicaExtraBlack/font.woff2") format("woff2"),
    url("../fonts/NeueHaasUnicaExtraBlack/font.woff") format("woff");
}
@font-face {
  font-family: "NeueHaasUnicaBlackItalic";
  src: url("../fonts/NeueHaasUnicaBlackItalic/font.woff2") format("woff2"),
    url("../fonts/NeueHaasUnicaBlackItalic/font.woff") format("woff");
}
@font-face {
  font-family: "NeueHaasUnicaHeavyItalic";
  src: url("../fonts/NeueHaasUnicaHeavyItalic/font.woff2") format("woff2"),
    url("../fonts/NeueHaasUnicaHeavyItalic/font.woff") format("woff");
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
